.contact {
  height: 100vh;
  position: relative;
}

.contact-wrapper {
  padding: 50px;
  display: flex;
}

.c-left {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.c-right {
  flex: 1.5;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.c-title {
  font-size: 60px;
  width: 81%;
  color: #969edd;
}

.c-icon {
  display: flex;
  list-style: none;
  align-items: center;
  gap: 4vw;
  margin-top: 2vw;
  margin-right: 15rem;
}

.thankyou {
  width: 80%;
  line-height: 2rem;
  margin-top: 2rem;
  letter-spacing: 1.1px;
}

form {
  margin-top: 20px;
}

input {
  width: 50%;
  height: 50px;
  border: none;
  border-bottom: 1px solid rgb(163, 161, 161);
  margin: 10px 0px;
  font-size: 14px;
  padding-left: 10px;
}

textarea {
  width: 100%;
  margin: 10px 0px;
  font-size: 14px;
  padding-left: 10px;
  border: 1px solid rgb(163, 161, 161);
}

button {
  border: none;
  padding: 15px;
  background-color: #969edd;
  color: white;
  width: 20%;
  font-size: 15px;
  font-weight: 500;
  cursor: pointer;
}

@media screen and (min-width: 250px) and (max-width: 319px) {
  .contact {
    padding-top: 350px;
    height: 150vh;
  }

  .contact-wrapper {
    flex-direction: column;
    padding-top: 0px;
  }
  .c-left {
    align-items: flex-start;
  }

  .c-title {
    font-size: 24px;
    width: 80%;
    color: #969edd;
  }

  .c-icon {
    margin-right: 0;
    margin-left: -2rem;
  }

  .thankyou {
    font-size: 12px;
  }

  .c-right {
    flex: 1;
  }
  input {
    font-size: 12px;
  }
  textarea {
    font-size: 12px;
  }

  button {
    padding: 10px;
    width: 50%;
    font-size: 13px;
  }
}

@media screen and (min-width: 320px) and (max-width: 375px) {
  .contact {
    padding-top: 170px;
    height: 140vh;
  }
}
@media screen and (min-width: 376px) and (max-width: 400px) {
  .contact {
    padding-top: 40px;
    padding-bottom: 40px;
  }
}
@media screen and (min-width: 401px) and (max-width: 480px) {
  .contact {
    height: 110vh;
    padding-top: 50px;
    padding-bottom: 110px;
  }
}

@media screen and (min-width: 320px) and (max-width: 480px) {
  .contact-wrapper {
    flex-direction: column;
    padding-top: 0px;
  }
  .c-left {
    align-items: flex-start;
  }

  .c-title {
    font-size: 30px;
    width: 81%;
    color: #969edd;
  }

  .c-icon {
    margin-right: 0;
    margin-left: -2rem;
  }

  .thankyou {
    font-size: 13px;
  }

  .c-right {
    flex: 1;
  }
  textarea {
    width: 90%;
  }
  button {
    padding: 10px;
    width: 40%;
    font-size: 13px;
  }
}

@media screen and (min-width: 481px) and (max-width: 689px) {
  .contact {
    padding-top: 100px;
    height: 125vh;
  }
}

@media screen and (min-width: 690px) and (max-width: 768px) {
  .contact {
    padding-top: 20px;
  }
}

@media screen and (min-width: 481px) and (max-width: 768px) {
  .contact-wrapper {
    flex-direction: column;
    padding-top: 0px;
  }
  .c-left {
    align-items: flex-start;
  }

  .c-title {
    font-size: 30px;
    width: 81%;
    color: #969edd;
  }

  .c-icon {
    margin-right: 0;
    margin-left: -2rem;
  }

  .thankyou {
    font-size: 13px;
  }

  .c-right {
    flex: 1;
  }
  textarea {
    width: 90%;
  }
  button {
    padding: 10px;
    width: 40%;
    font-size: 14px;
  }
}

@media screen and (min-width: 769px) and (max-width: 819px) {
  button {
    padding: 5px;
    width: 40%;
    font-size: 14px;
  }
}

@media screen and (min-width: 820px) and (max-width: 900px) {
  .contact {
    padding-top: 150px;
    height: 135vh;
  }
  .contact-wrapper {
    flex-direction: column;
    /* padding: 120px; */
  }
  .c-left {
    align-items: flex-start;
  }
}
@media screen and (min-width: 901px) and (max-width: 913px) {
  .contact {
    padding-top: 50px;
    height: 105vh;
  }

  form {
    margin-top: 120px;
  }

  button {
    padding: 10px;
    width: 30%;
    font-size: 14px;
  }
}
@media screen and (min-width: 914px) and (max-width: 1023px) {
  button {
    padding: 10px;
    width: 30%;
    font-size: 14px;
  }
}

@media screen and (min-width: 1024px) and (max-width: 1200px) {
  .contact {
    height: 110vh;
  }
}
